*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 80px;
    background: #2B3844;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.FS-24px{
    font-family: nunito sans;
    font-weight: 800;
    font-size: 24px;
    color: white;
}

a{
    text-decoration: none;
    font-family: nunito sans;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.mini_container{
    margin-top: 70px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 45px 80px;
    background: #202C36;
}

.back{
    width: 135px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 24px;
    background: #2B3844;
    padding: 10px 40px;
}

.mili_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flag{
    width: 500px;
}

.micro_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: nunito sans;
}

.nano_container{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}

.pico_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

span{
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
}

.nano_container-2{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    gap: 10px;
}

.card{
    width: 100px;
    height: 30px;
    background: #2B3844;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    nav{
        padding: 30px 15px;
    }
    .FS-24px{
        font-size: 16px;
    }
    .mini_container{
        padding: 30px 30px;
        height: auto;
    }
    .mili_container{
        justify-content: center;
        gap: 30px;
    }
    .flag{
        width: 300px;
    }
    .nano_container{
        gap: 5px;
    }
    .nano_container-2{
        align-items: normal;
    }
}